@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Add your own additional global styles below */
/* 
:root {
} */

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
html {
  font-family: "Roboto", sans-serif;
}
/* body {
} */
